body {
  background-color: green;
  padding: 0;
  margin: 0;
}


body,
html {
  height: 100%;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#line-graph,
#bar-one,
#bar-two {
  height: 600px;
}

.main-header {
  margin-top: 15px;
}
.my-graphs {
  margin-top: 15px;
  width:90%;
}
#mapid {
  height: 1000px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.my-map {
  margin-bottom: 15px;
  padding-bottom: 50px;
}

h3 {
  font-size:12px;
  font-weight: 800;
  padding-bottom: 7px;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  line-height: 25px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 4px;
  opacity: 0.7;
}
/* .custom-cursor{
  cursor: url (https://www.svgrepo.com/show/89591/cannabis-leaf.svg)
} */